/* Janelle Salisbury */
/* Visual Frameworks */
/* 1108 */


body {
   font-family: Helvetica, Arial, Times, san-serif; 
   padding: 15px;
   font-style: normal;
   text-transform: capitalize;
}

h1 {
color: #6495ED
border: 1px solid black;
width: 250px;
background color: #DCDCDC
}